/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}

body {
  font: 16px/1.8 sans-serif;
  background: #aaa;
  color: #444;
}

a {
  color: #05e;
}

a:hover {
  color: #03c;
}

.container {
  background: #ddd;
  width: 980px;
  margin: 0 auto;
}

h1 {
  font: 46px/140px sans-serif;
  font-weight: bold;
  text-align: center;
  background: #999;
}

ul.global-nav__items {
  display: table;
  text-align: center;
  width: 100%;
}

li.global-nav__item {
  display: table-cell;
}

li.global-nav__item:nth-child(even) {
  background: #b6b6b6;
}

li.global-nav__item:nth-child(odd) {
  background: #d8d8d8;
}

li.global-nav__item a {
  line-height: 60px;
  font-weight: bold;
  text-decoration: none;
  color: #444;
}

.bread-crumbs {
  background: #666;
  padding-left: 18px;
}

.bread-crumbs__item {
  display: inline;
  list-style-type: none;
  font-size: 90%;
}

.bread-crumbs__item a {
  line-height: 30px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.bread-crumbs__item:before {
  content: " > ";
  color: #bbb;
}

.bread-crumbs__item:first-child:before {
  content: none;
}

.top-ads__items {
  display: flex;
  padding: 8px 8px;
}

.top-ads__item {
  margin: 8px 8px;
}

.top-ads__image {
  width: 100%;
}

.body {
  overflow: hidden;
  background: #666;
}

.main {
  width: 650px;
  float: right;
  background: #ddd;
}

.aside {
  width: 330px;
  float: right;
}

.footer {
  clear: right;
}

.aside-ads__items {
  padding: 16px;
}

.aside-ads__item {
  margin: 0px 0px 5px;
}

.local-nav__item {
  font: 18px sans-serif;
  line-height: 40px;
  padding-left: 16px;
  margin: 2px 16px;
  background: #999;
}

.local-nav__item:first-child {
  border-radius: 4px 4px 0px 0px;
}

.local-nav__item:last-child {
  border-radius: 0px 0px 4px 4px;
}


.local-nav__item a {
  text-decoration: none;
  color: white;
}

.main-header__title {
  font: 36px sans-serif;
  font-weight: bold;
  line-height: 84px;
  background: #eee;
  position: relative;
  padding-left: 64px;
}

.main-header__title:before {
  content: "";
  position: absolute;
  background: #999;
  top: 30px;
  left: 14px;
  width: 12px;
  height: 12px;
  box-shadow:
  0px 12px #444,
  12px 0px #444,
  12px 12px #999;
}

.main-header__title:after {
  content: '';
  display: block;
  right: 0;
  top: 0;
  position: absolute;
  border-top: 32px solid #ddd;
  border-left: 32px solid #aaa;
}

.article__title {
  font: 28px sans-serif;
  font-weight: bold;
  line-height: 40px;
  position: relative;
  padding-left: 32px;
  margin: 0 0 12px 0;
}

.article {
  padding: 16px;
}

.article__title:before {
  content: "";
  position: absolute;
  background: #999;
  left: 0px;
  width: 12px;
  height: 20px;
  box-shadow:
  0px 20px #444;
}

.article__paragraph {
  margin: 16px 0;
}

.article__strong {
  font-weight: bold;
}

.article__sub-title {
  font: 24px sans-serif;
  font-weight: bold;
}

.article__unorder-list-item {
  list-style: disc inside;
  padding-left: 8px;
}

.article__blockquote {
  position: relative;
  margin: 64px 0 36px 12px;
  padding-left: 24px;
  border-left: 6px solid #999;
}

.article__blockquote:before {
  content: "";
  position: absolute;
  background: #999;
  top: -46px;
  left: -27px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.article__blockquote:after {
  content: "";
  position: absolute;
  width: 4px;
  height: 0px;
  top: -30px;
  left: -12px;
  border-top: 16px solid white;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  box-shadow:
  12px 0 white;
}
